<div id="<%= dom_id progress %>">
  <p>
    <strong>Weight:</strong>
    <%= progress.weight %>
  </p>

  <p>
    <strong>Bmi:</strong>
    <%= progress.bmi %>
  </p>

  <p>
    <strong>Calories burned:</strong>
    <%= progress.calories_burned %>
  </p>

  <p>
    <strong>User:</strong>
    <%= progress.user_id %>
  </p>

</div>
